section {
  font-family: Arial, sans-serif;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  grid-template-rows: repeat(2, 160px);
  gap: 10px;
}
.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}
.image-box {
  width: 100%;
  height: 100%;
  background-color: #eee;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}
.image-box:hover {
  transform: scale(1.2);
  z-index: 1;
    border: #5a6de3aa 1px solid;

}
.product-info {
  flex: 1;
  max-width: 500px;
}
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-row h2 {
  font-size: 22px;
}
.icons span {
  margin-left: 10px;
  cursor: pointer;
}
.price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.price::after{
  content: "LE";
  font-size: 0.9em;
  margin-left: 4px;
}
.description {
  font-size: 14px;
  margin: 15px 0;
  color: #0D0D0D;
}
.vendor {
  font-size: 14px;
  color: #0D0D0D;
  margin-bottom: 20px;
}
.options label {
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}
.sizes {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.sizes button {
  padding: 6px 14px;
  background: white;
  border: 1px solid black;
  cursor: pointer;
}
.buy-row {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 20px;
}
.add-to-cart {
  background: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.quantity {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.quantity label {
  font-size: 14px;
  margin-bottom: 5px;
}
.qty-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
}
.qty-controls button {
  width: 28px;
  height: 28px;
  font-size: 16px;
  background: white;
  border: none;
  cursor: pointer;
}
.shipping {
  font-size: 12px;
  opacity: 60%;
}
.shipping a {
  margin-left: 20px;
  color: black;
  cursor: pointer;
}

#product-s-p{
  font-family: Arial, sans-serif;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    gap: 40px;
    justify-self: center;
}

.product-display {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) { section { flex-direction: column; align-items: center; } .product-display { flex-direction: column; padding: 20px; } .image-grid { margin: 0 auto 20px; } .product-info { padding: 0 10px; width: 100%; } } @media (max-width: 500px) { .image-grid { grid-template-columns: 1fr; grid-template-rows: auto; } .image-box { height: 300px; } }
